
@import url("components/card.css");
@import url("components/header.css");

html{
  box-sizing: border-box;

}
*,
*:before,
*:after{
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: Poppins;

}

@media only screen and (min-width: 1024px) {
  body{
  background-image: url(../images/header1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }

}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  body{
  background-image: url(../images/header1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  }
}

h1 {
  font-family: Poppins;
  font-size: 20px;
}

